/* button.css */
button {
  width: 50%;
  height: 6vh;
  margin: 30px;
  background-color: #077b32;
  color: white;
  border: none;
  outline: none;
  font-size: 120%;
  font-weight: 700;
  border-radius: 5px;
  transition: 0.3s !important;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

button:hover {
  scale: 1.1;
  color: #077b32;
  border: 2px solid #077b32;
  background-color: transparent;
  font-weight: 700;
  box-shadow: 0 0 40px #077b32;
}

/* Scroll to Top Button */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.3s, background-color 0.3s;
}

.scroll-to-top:hover {
  transform: scale(1.1);
  background-color: #077b32;
  box-shadow: 0 0 15px rgba(7, 123, 50, 0.5);
}
