/* Importation de la police */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* base.css */
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black; /* Couleur de fond sombre */
  color: white; /* Texte clair */
  overflow-x: hidden; /* Désactive le défilement horizontal */
  /* background-image: url("../assets/images/background_site.jpg"); */
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden; /* Désactive le défilement horizontal */
}

section {
  scroll-margin-top: 80px;
  margin-bottom: 2%;
  min-height: 88vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

/* titre h2 */
h2 {
  position: relative;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}
/* Barres sous le titre */
h2::after {
  content: "";
  display: block;
  margin: 10px auto 0;
  width: 100px;
  height: 5px;
  background-color: #077b32;
  border-radius: 5px;
  position: relative;
}

h2::before {
  content: "";
  display: block;
  margin: 15px auto 0;
  width: 70px;
  height: 5px;
  background-color: #077b32;
  border-radius: 5px;
  position: relative;
}
